version: "2"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: poster-admin-api
    volumes:
      - /proc/meminfo:/proc/meminfo:ro
      - ./static:/static
    ports:
      - "3005:3005"
    env_file:
      - .env